@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: Roboto Condensed;
    font-size: 40px;
    background-image: linear-gradient(to bottom right, lightskyblue, pink);
    background-attachment: fixed;
}

.red-text {
    color: red;
}

.green-text {
    color: lightgreen;
}

.brown-text {
    color: saddlebrown;
}

@keyframes puppy-bob {
    0% {
        transform: rotate(0deg); /* Начальное положение */
    }

    50% {
        transform: rotate(3deg); /* Немного наклониться вправо */
    }

    100% {
        transform: rotate(-3deg); /* Немного наклониться влево */
    }
}

.moving-puppy {
    /* Обязательно задаем размер, чтобы анимация была видна */
    /*width: 150px;
    height: auto;*/
    /* Применяем анимацию */
    animation-name: puppy-bob;
    animation-duration: 2s; /* Длительность одного цикла */
    animation-timing-function: ease-in-out; /* Плавное начало и конец движения */
    animation-iteration-count: infinite; /* Повторять бесконечно */
}